<header class="site-header">
	<div class="wrapper">
		<div class="logo">
			<h1 class="site-title">
				<a class="h-card" rel="me" href="/">{{ site.title }}</a>
			</h1>
		</div>
		<nav class="site-nav">
			<div class="trigger">
				<h2><a href="/posts/">Posts</a></h2>
			</div>
		</nav>
		<section role="complementary">
			<ul class="external-links" role="navigation">
				<li><a href="/jamie-little-cv-2018.pdf" rel="me">CV</a></li>
				<li><a href="https://twitter.com/ajamielittle" rel="me">Twitter</a></li>
				<li><a href="https://github.com/little9" rel="me">GitHub</a>
					<li><a href="https://rubygems.org/profiles/little9" rel="me">Ruby Gems</a></li>
					<li><a href="https://www.npmjs.com/~little9" rel="me">
							npm</a></li>
          <li><a href="https://keybase.io/jamielittle" rel="me">Keybase</a></li>
			</ul>
		</section>
	</div>
</header>
