/*font-family:"游ゴシック体","YuGothic","游ゴシック";*/
@charset "UTF-8";
body {/* margin: 2.4em; *//* line-height: 1.6em; *//* font-size: 1.5em; *//* color: #444; */padding: 0 1em;font-family: monospace;background: #f1f1f1;transform: rotate(.5deg);}

h1, h2, h3 {/* line-height: 1.2; *//* font-size: 2em; */transform: rotate(1.5deg);margin-top: 1em;font-family: "Microsoft Sans Serif";}

a {text-decoration: none;border-bottom: 0px;transition: 0.4 ease;padding: 5px;background: rgba(240, 255, 115, 0.3);/* box-shadow: 1px 1px 0px 1px black; *//* border-top: 1px dotted grey; */color: black;/* transform: rotate(10deg); */font-family: "Microsoft Sans Serif";}

a {}

.external-links {/* display: inline; */list-style-type: urdu;padding-left: 0;}

.external-links li {display: inline;padding-right: 10%;margin-bottom: 15%;color: black;transform: rotate(10deg);}

.social-media-list li { width: 50px; }
