.external-links {
  display:inline;
  list-style-type:none;
  padding-left:0;
}

.external-links li {
  display:inline;
  padding-right:10%;
  margin-bottom:2%;
}

.social-media-list li { width:50px; }

.social-media-list li { width:50px; }
