a {
  text-decoration:none;
  border-bottom:0px;
  transition:0.4 ease;
}

a:link,a:visited {
    transition: all .5s linear 0;
    color: hsl(166, 47%, 53%);
}
a:hover {
    color: hsl(167, 41%, 42%);
}
.site-title a {
	transition: all .5s linear 0;
	color: hsl(266, 59%, 65%);
}
.trigger a {
	transition: all .5s linear 0;
	color: hsl(40, 96%, 45%);
}
.site-title a:hover {
	transition: all .5s linear 0;
	color: hsl(263, 52%, 55%);
}
.trigger a:hover {
	transition: all .5s linear 0;
	color: hsl(32, 95%, 42%);
}